canvas#myCanvas {
  width: 640px; 
  height: 640px;

  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Seems to be most important       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

div#divCanvas {
  /* float: left; */
  display: inline-block;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  margin: 10px;
}

div#canvasRow {
      clear: both;
      content: "";
      /* display: block; */
      white-space: nowrap;
      line-height: 0px;
      /* display: table; */
      /* overflow: auto; */
      /* white-space: nowrap; */
      /* overflow-x: scroll; */
      /* overflow-y: hidden; */

      /* vertical-align: top; */
      /* margin: 0; */
      /* padding: 0; */
}

div#canvasElement {
        height: 32px;
        width: 32px;
        /* float: left; */
        border: 1px solid #383838;
        /* overflow: auto; */
        /* white-space: nowrap; */
        display: inline-block;

 }

button.basic {
  background-color: #9e5ba4;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  color:white;
  border-radius: 4px;
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  border: 1px solid #383838;

}

.center {
  margin: auto;
  width: 50%;
}

button.basic:hover {
  background-color: #5a235f;
}